.top {
    min-height: 40vh;
}
.bot {
    min-height: 40vh;
}
.head {
    min-height: 10vh;
}
.main {
    min-height: 80vh;
}
.foot {
    min-height: 5vh;
    line-height: 10vh;
}
.bg-main{
    background-color: #232931;
}
.bg-left{
    background-color: #1A1F25;
}
.bg-head{
    background-color: #20262D;
}
.bg-foot{
    background-color: #20262D;
}
.copy{
    float: left;
    color: #4ECCA3;
    font-weight: bold;
}
.mainnav-a{
    color: #EEEEEE;
    text-decoration: none;
    padding-left: 2.5vw;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.material-icons{
    font-size: 30px !important;
}
.mainnav-li{
    margin-top: 0.5vh;
    margin-left: -0.8vw;
}
.mainnav-a:hover{
    font-weight: bold;
    color: #4ECCA3;
    border-left: 3px solid #4ECCA3;
}
.nav i {
    margin-right: 2.5vw;
}
.mainnav{
    margin-top: 2vh;
}
.footnav-a{
    color: #EEEEEE !important;
    text-decoration: none;
}
.footnav-a:hover{
    font-weight: bold;
    color: #4ECCA3;
    text-decoration: none;
    border-bottom: 2px solid #4ECCA3;
}
.footnav-li{
    margin-right: 2.5vw;
}
.form-head{
    padding-top: 3vh;
}
.form-head-input{
    color: #EEEEEE;
    background-color: #1D2229;
    border-radius: 20px;
    border-color: #1D2229;
    width: 52vw !important;
}
.form-head-button {
    color: #EEEEEE;
    border-color: #EEEEEE;
    border-radius: 20px;
}
.form-head-button:hover {
    background-color: #4ECCA3;
    color: #20262D;
    font-weight: bold;
}
.form-head-input:focus{
    border-color: #4ECCA3;
    box-shadow: none;
    background-color: #1D2229;
    color: #EEEEEE;
}
.applogo{
    font-size: 30px;
    position: absolute;
    padding-left: 1vw;
    padding-top: 2vh;
    display: flex;
    align-items: center;
}
.applogo-text{
    padding-left: 1vw;
    color: #EEEEEE;
}
.applogo-text:hover{
    color: #4ECCA3;
}
.upload-button{
    float: right;
    border-color: #4ECCA3;
    background-color: #4ECCA3;
    color: #20262D;
    margin-left: 3vw;
    width: 12vw;
    font-weight: bold;
}
.upload-button:hover{
    background: none;
    border-color: #4ECCA3;
    color: #4ECCA3;
}
.user-data{
    text-align: center;
    color: #EEEEEE;
}
.userText{
    margin-top: 1.5vh;
}
.userPhoto{
    margin-top: 10.5vh;
    border: 2px solid #4ECCA3;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.userName{
    font-size: 15px;
    font-weight: bold;
}
.userLocation{
    font-size: 12px;
}
.userDescriptionTitle{
    font-weight: bold;
    font-size: 12px;
}
.userDescription{
    font-size: 12px;
    margin-top: -1vh;
}
.size-top{
    height:52.5vh !important;
}
.size-bot{
    height: 27.5vh !important;
}
.statsTitle{
    font-size: 12px;
}
.stats{
    margin-top: -2vh;
    font-weight: bold;
    font-size: 12px;
}