.bd-navbar{
    background-color: #1A1F25;
    height: 7.5vh;
}
.bd-navbar-title{
    color: #EEEEEE;
    font-style: italic;
    display: flex;
    align-items: center;
}
.bd-navbar-title:hover {
    color: #4ECCA3;
}
.bd-navbar-title-icon{
    font-size: 50px !important;
    margin-right: 15px;
}
.bd-title-text1{
    font-weight: bold;
    font-size: 30px;
}
.bd-title-text2{
    font-size: 30px;
}

.bd-head{
    position: relative;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    background-color: #232931;
    color: #EEEEEE;
    height: 85vh;
}
.bd-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(25%);
}
.bd-login {
    overflow: hidden;
    border-radius: 10px;
    background: #20262D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
}
.bd-login-container-img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    height: 400px;
    width: 300px;
    border-radius: 15px;
}
.bd-login-img {
    min-height: 100%;
}
.bd-login-form {
    width: 290px;
}
.bd-login-form-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 25px;
}
.bd-login-form-container-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}
.bd-login-form-input {
    line-height: 1.5;
    display: block;
    width: 100%;
    background: #1A1F25;
    border: 0;
    border-radius: 50px;
    color: #EEEEEE;
    height: 40px;
    padding: 0 20px 0 50px;
}
.bd-login-form-input:focus {
    outline: none;
}
.bd-login-form-input-focus {
    display: block;
    position: absolute;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #4ECCA3;
}
.bd-login-form-input-symbol {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    pointer-events: none;
    transition: all 0.4s;
}
.bd-login-form-input:focus + .bd-login-form-input-focus + .bd-login-form-input-symbol {
    color: #4ECCA3;
    padding-left: 10px;
}
.bd-login-form-container-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.bd-login-form-btn {
    line-height: 1.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4ECCA3;
    color: #20262D;
    border-radius: 50px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    transition: all 0.2s;
}
.bd-login-form-btn:hover {
    cursor: pointer;
    background: none;
    border: 2px solid #4ECCA3;
    color: #EEEEEE;
}
.bd-login-form-btn:focus {
    outline: none;
}
.bd-login-form-txt {
    line-height: 1.75;
    color: #EEEEEE;
    display: flex;
    vertical-align: center;
    justify-content: center;
    margin-top: 25px;
}
.bd-login-form-txt:hover {
    color: #4ECCA3!important;
    text-decoration: none;
}
.create-profile {
    font-size: 20px;
    line-height: 1.75;
    display: flex;
    color: #EEEEEE;
    vertical-align: center;
    justify-content: center;
    margin-top: 90px;
}
.create-profile:hover {
    color: #4ECCA3!important;
    text-decoration: none;
}
.create-profile-icon {
    font-size: 40px!important;
}
.validate-input {
    position: relative;
}

.bd-footer{
    background-color: #20262D;
    height: 7.5vh;
    display: flex;
    align-items: center;
}
.bd-dinpa-list {
    margin: 0;
    padding: 0;
    display: flex;
}
.bd-dinpa-items {}
.bd-dinpa-links {
    color: #4ECCA3;
}
.bd-dinpa-links:hover {
    text-decoration: none;
    color: #EEEEEE;
}
.bd-dinpa-list-text {
    font-weight: bold;
    font-size: 13.5px;
}
.bd-footer-list{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
.bd-footer-items{
    margin-left: 25px;
}
.bd-footer-links {
    color: #4ECCA3;
}
.bd-footer-links:hover {
    text-decoration: none;
    color: #EEEEEE;
}
.bd-footer-list-text{
    font-size: 13.5px;
}

.modal-content {
    background: #232931;
    border: none;
    border-radius: 15px;
    color: #EEEEEE;
}
.modal-body {
    background: #232931;
    border: none;
}
.modal-footer {
    background: #232931;
    border: none;
    border-radius: 15px;
}
.modal-header {
    border: none;
}
.btn-primary {
    background: #4ECCA3;
    color: #232931;
    box-shadow: none;
    border: 2px solid #4ECCA3;
    font-weight: bold;
}
.btn-primary:hover {
    background: none;
    border: 2px solid #4ECCA3;
}
.btn-secondary {
    background: none;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}
.btn-secondary:hover {
    background: #cc574e;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}

.form-control {
    background-color: #1A1F25;
    border: none;
    border-radius: 25px;
}
.form-control:focus {
    background-color: #1A1F25;
    border: none;
    box-shadow: none;
    color: #EEEEEE;
}
.form-control::placeholder {
    color: grey;
}