
.bd-navbar {
    background-color: #1A1F25;
    height: 7.5vh;
}
.bd-navbar-title {
    color: #EEEEEE;
    font-style: italic;
    display: flex;
    align-items: center;
}
.bd-navbar-title:hover {
    color: #4ECCA3;
}
.bd-navbar-title-icon {
    font-size: 50px !important;
    margin-right: 15px;
}
.bd-title-text1 {
    font-weight: bold;
    font-size: 30px;
}
.bd-title-text2 {
    font-size: 30px;
}
.btn-bd-upload {
    border: 2px solid #4ECCA3;
    color: #EEEEEE;
    margin-left: auto;
    font-weight: bold;
}
.btn-bd-upload:hover {
    background-color: #4ECCA3;
    color: #1A1F25;
}
.bd-navbar-usericon {
    width: 50px;
    height: 50px;
    border: 2px solid #4ECCA3;
    border-radius: 100px;
    padding: 3px;
}
.bd-settings-link {
    display: flex!important;
    align-items: center!important;
}
.bd-settings-icon {
    color: #EEEEEE;
    font-size: 30px!important;
}
.bd-settings-icon:hover {
    color: #4ECCA3;
}
.bd-logout-link {
    display: flex!important;
    align-items: center!important;
}
.bd-logout-icon {
    color: #EEEEEE;
    font-size: 30px!important;
}
.bd-logout-icon:hover {
    color: #4ECCA3;
}



.bd-head {
    position: relative;
    min-height: 85vh;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    background-color: #232931;
    color: #EEEEEE;
}
.bd-main-info {
    text-align: center;
    margin-top: 30px;
    position: fixed;
    transform: translateX(12.5%);
}
.bd-main-info-usericon {
    border-radius: 500px;
    border: 2.5px solid #4ECCA3;
    padding: 10px;
    height: 250px;
    width: 250px;
    margin-bottom: 15px;
}
.bd-main-info-username {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 25px;
}
.bd-main-info-username:hover {
    text-decoration: none;
    color: #4ECCA3;
}
.bd-main-info-user {
    margin-bottom: 15px;
}
.bd-main-info-stats {
    margin-bottom: 15px;
}
.bd-main-info-follower {
    display: block;
}
.bd-main-info-followernumb {
    display: block;
}
.bd-main-info-descriptiontitle {
    font-weight: bold;
}
.bd-main-info-description {
    width: 400px;
}
.bd-main-info-followernumb {
    font-weight: bold;
}
.bd-main-content {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.bd-main-content-img {
    margin: 15px;
    height: 400px;
    width: 400px;
}
.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.post {
    background: #20262D;
    width: 750px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
}
.bd-post-title {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.bd-post-pp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #4ECCA3;
    padding: 3px;
    margin-right: 20px;
}
.bd-post-name {
    font-weight: bold;
    font-size: 20px;
}
.bd-post-img-container {
    padding-bottom: 10px;
    height: 700px;
    width: 720px;
}
.bd-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.bd-post-stats {
    display: flex;
    align-items: center;
}
.bd-post-favtext {
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.bd-post-favicon {
    margin-right: 5px;
 }
.bd-post-chattext {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.bd-post-chaticon {
    margin-right: 5px;
}
.bd-searchcard {
    padding: 10px;
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #20262D;
    border: none;
}
.bd-searchpost {
    border-radius: 10px;
    object-fit: cover;
    width: 350px;
    height: 350px;
}
.bd-search {
    margin-top: 15px;
    margin-bottom: 35px;
}
.bd-searchbar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.bd-searchicon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25%;
    padding-left: 15px;
    pointer-events: none;
    transition: all 0.4s;
}
.bd-searchform {
    line-height: 1.5;
    display: block;
    width: 50%;
    background: #1A1F25;
    border: 0;
    border-radius: 50px;
    color: #EEEEEE;
    height: 40px;
    padding: 0 20px 0 50px;
}
.bd-searchform:focus + .bd-searchicon {
    color: #4ECCA3;
}
.bd-searchform:focus {
    outline: none;
}



.bd-footer {
    background-color: #20262D;
    height: 7.5vh;
    display: flex;
    align-items: center;
}
.bd-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.bd-footer-items {
    text-decoration: none;
    display: inline-block;
    margin-right: 50px;
}
.bd-footer-links {
    display: flex!important;
    align-items: center!important;
}
.bd-footer-icons {
    color: #EEEEEE;
    font-size: 40px!important;
}
.bd-footer-icons:hover {
    color: #4ECCA3;
}
.badge-notify {
    position: absolute;
    background-color: #4ECCA3;
    color: #20262D;
    margin-left: 30px;
}
.active {
    color: #4ECCA3;
}



.bd-modal-upload-content {
     background: #232931;
     border: none;
     border-radius: 15px;
     color: #EEEEEE;
}
.bd-modal-upload-footer {
    border: none;
}
.btn-primary {
    background: #4ECCA3;
    color: #232931;
    box-shadow: none;
    border: 2px solid #4ECCA3;
    font-weight: bold;
}
.btn-primary:hover {
    background: none;
    border: 2px solid #4ECCA3;
}
.btn-secondary {
    background: none;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}
.btn-secondary:hover {
    background: #cc574e;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}
.bd-modal-upload-form-control {
    background-color: #1A1F25;
    border: none;
}
.bd-modal-upload-form-control:focus {
    background-color: #1A1F25;
    border: none;
    box-shadow: none;
    color: #EEEEEE;
}
.bd-modal-upload-form-control::placeholder {
    color: grey;
}
.custom-file-label {
    background: #1A1F25;
    border: none;
    box-shadow: none;
    color: grey;
}
.custom-file-input {
    background: #1A1F25;
    border: none;
    box-shadow: none;
    color: grey;
}
.modal-backdrop {
    z-index: 1020;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



.bd-image-modal {
}
.bd-image-modal-content {
    background-color: #232931;
    border-radius: 25px;
}
.bd-image-container-main-picture {
    height: 500px;
    width: 500px;
    padding-right: 20px;
}
.bd-image-main-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.bd-image-modal-body-container {
    padding: 0;
}
.bd-image-header {
}
.bd-image-profile-container-description {
    height: 75px;
    overflow: scroll;
    margin-top: 15px;
}
.bd-image-profile-picture {
    border-radius: 50px;
    border: 2px solid #4ECCA3;
    padding: 3px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.bd-image-profile-name {
    font-weight: bold;
    padding-left: 15px;
    font-size: 20px;
}
.bd-image-profile-description {
}
.bd-image-body {
}
.bd-image-container-comments {
    margin-top: 10px;
    height: 250px;
    overflow: scroll;
}
.bd-image-comment-list {
    list-style: none;
    padding: 0;
}
.bd-image-comment-list-item {
    padding-bottom: 5px;
}
.bd-image-comment-user {
}
.bd-image-comment-user-name {
    font-weight: bold;
}
.bd-image-comment-user-comment {
}
.bd-image-comment-container-time {
}
.bd-image-comment-time {
    display: flex;
    align-items: center;
    font-size: 12px!important;
}
.bd-image-comment-time-icon {
    font-size: 12px!important;
    padding-right: 10px;
}
.bd-image-comment-time-text {}
.bd-image-container-actions {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.bd-image-action-like {
    display: flex;
    align-items: center;
}
.bd-image-action-like-icon {}
.bd-image-action-like-text {}
.bd-image-action-comment {
    display: flex;
    align-items: center;
}
.bd-image-action-like-comment-icon {}
.bd-image-action-comment-text {}
.bd-image-section-form {}
.bd-image-container-form {
    display: flex;
    align-items: center;
}
.bd-image-form {
    width: 200px;
}
.bd-image-form-textarea {
    background: #1A1F25;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding-top: 10px;
    padding-left: 15px;
    color: #EEEEEE;
}
.bd-image-form-textarea:focus {
    outline: none;
}
.bd-image-form-button {
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding-left: 20px;
    color: #EEEEEE;
}
.bd-image-form-button:hover {
    color: #4ECCA3;
}
.bd-image-button-icon {}

.bd-image-profile-change-btn {
}
.bd-image-profile-delete-btn {
}
.bd-image-comment-change-btn {
    float: right;
}
.bd-image-comment-delete-btn {
    float: right;
}
.bd-image-profile-change-btn-icon {
     font-size: 20px!important;
     color: #EEEEEE;
 }
.bd-image-profile-delete-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}
.bd-image-comment-change-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}
.bd-image-comment-delete-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}