/* ***************************************************************** HEADER */
.bd-navbar {
    background-color: #1A1F25;
    height: 7.5vh;
}
.bd-navbar-title {
    color: #EEEEEE;
    font-style: italic;
    display: flex;
    align-items: center;
}
.bd-navbar-title:hover {
    color: #4ECCA3;
}
.bd-navbar-title-icon {
    font-size: 50px !important;
    margin-right: 15px;
}
.bd-title-text1 {
    font-weight: bold;
    font-size: 30px;
}
.bd-title-text2 {
    font-size: 30px;
}
.bd-title-settings {
    color: #EEEEEE;
    font-weight: bold;
    font-size: 20px;
    margin-left: 640px;
}
.btn-bd-upload {
    border: 2px solid #4ECCA3;
    color: #EEEEEE;
    margin-left: auto;
    font-weight: bold;
}
.btn-bd-upload:hover {
    background-color: #4ECCA3;
    color: #1A1F25;
}
.bd-navbar-usericon {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid #4ECCA3;
    border-radius: 100px;
    padding: 3px;
}
.bd-settings-link {
    display: flex!important;
    align-items: center!important;
}
.bd-settings-icon {
    color: #EEEEEE;
    font-size: 30px!important;
}
.bd-settings-icon:hover {
    color: #4ECCA3;
}
.bd-logout-link {
    display: flex!important;
    align-items: center!important;
}
.bd-logout-icon {
    color: #EEEEEE;
    font-size: 30px!important;
}
.bd-logout-icon:hover {
    color: #4ECCA3;
}
.bd-logout-icon-settings {
    color: #EEEEEE;
    font-size: 30px!important;
    margin-left: 850px;
}
.bd-logout-icon-settings:hover {
    color: #4ECCA3;
}

/* ***************************************************************** MAIN */

.bd-head {
    position: relative;
    min-height: 85vh;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    background-color: #232931;
    color: #EEEEEE;
}
.bd-main-info {
    text-align: center;
    margin-top: 30px;
    position: fixed;
    transform: translateX(12.5%);
}
.bd-main-info-usericon {
    border-radius: 500px;
    border: 2.5px solid #4ECCA3;
    padding: 10px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}
.bd-main-info-username {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 25px;
}
.bd-main-info-user {
    margin-bottom: 15px;
}
.bd-main-info-stats {
    margin-bottom: 15px;
}
.bd-main-info-follower {
    display: block;
}
.bd-main-info-followernumb {
    display: block;
}
.bd-main-info-descriptiontitle {
    font-weight: bold;
}
.bd-main-info-description {
    width: 400px;
}
.bd-main-info-followernumb {
    font-weight: bold;
}
.btn-bd-follow {
    border: 2px solid #4ECCA3;
    color: #EEEEEE;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    padding: 0 15px 0 15px;
    font-weight: bold;
}
.btn-bd-follow:hover {
    background: #4ECCA3;
    color: #232931;
}
.btn-bd-unfollow {
    border: 2px solid #4ECCA3;
    background: #4ECCA3;
    color: #232931;
    border-radius: 50px;
    height: 30px;
    text-align: center;
    margin-top: 15px;
    padding: 0 15px 0 15px;
    font-weight: bold;
}
.btn-bd-unfollow:hover {
    background: none;
    color: #EEEEEE;
}
.bd-main-content {
    margin: 15px;
}
.bd-user-post {
    background: #20262D;
    width: 450px;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.bd-user-post-img-container {
    height: 400px;
    width: 420px;
}
.bd-user-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.bd-user-post-img-overlay {
    position: absolute;
    width: 420px;
    height: 400px;
    border-radius: 15px;
    top: 15px;
    opacity: 0;
    transition: .3s ease;
    background: rgba(26,31,37,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bd-user-post-img-overlay:hover {
    opacity: 1;
}
.bd-user-post-favtext {
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 30px!important;
}
.bd-user-post-favicon {
    margin-right: 10px;
}
.bd-user-post-chattext {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 30px!important;
}
.bd-user-post-chaticon {
    margin-right: 10px;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.post {
    background: #20262D;
    width: 750px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-bottom: 15px;
}
.bd-post-title {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.bd-post-pp {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #4ECCA3;
    padding: 3px;
    margin-right: 20px;
}
.bd-post-name {
    font-weight: bold;
    font-size: 20px;
}
.bd-post-img-container {
    padding-bottom: 10px;
    height: 700px;
    width: 720px;
}
.bd-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.bd-post-stats {
    display: flex;
    align-items: center;
}
.bd-post-favtext {
    margin-right: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.bd-post-favicon {
    margin-right: 5px;
 }
.bd-post-chattext {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.bd-post-chaticon {
    margin-right: 5px;
}
.bd-searchcard {
    padding: 10px;
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 15px;
    background: #20262D;
    border: none;
}
.bd-searchpost {
    border-radius: 10px;
    object-fit: cover;
    width: 350px;
    height: 350px;
}
.bd-search {
    margin-top: 15px;
    margin-bottom: 35px;
}
.bd-searchbar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
}
.bd-searchicon {
    display: flex;
    align-items: center;
    position: absolute;
    left: 25%;
    padding-left: 15px;
    pointer-events: none;
    transition: all 0.4s;
}
.bd-searchform {
    line-height: 1.5;
    display: block;
    width: 50%;
    background: #1A1F25;
    border: 0;
    border-radius: 50px;
    color: #EEEEEE;
    height: 40px;
    padding: 0 20px 0 50px;
}
.bd-searchform:focus + .bd-searchicon {
    color: #4ECCA3;
}
.bd-searchform:focus {
    outline: none;
}
.bd-change-pp-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.bd-old-pp-container {
    width:200px;
    text-align:center;
    display:block;
    float:left;
    margin-right: 50px;
}
.bd-change-pp-old-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #4ECCA3;
    padding: 10px;
    object-fit: cover;
    margin-top: 15px;
}
.bd-new-pp-container {
    width:200px;
    text-align:center;
    display:block;
    float:left;
}
.bd-change-pp-new-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #4ECCA3;
    padding: 10px;
    object-fit: cover;
    margin-top: 15px;
}
.bd-change-pp-modal-content {
    background: #20262D;
    border-radius: 25px;
}
.bd-change-pp-modal-header {
    border: none;
}
.bd-change-pp-modal-title {
    font-size: 20px;
    font-weight: bold;
}
.bd-change-pp-modal-footer {
    border: none;
}
.bd-change-pd-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.bd-change-pd-textarea {
    background: #1A1F25;
    border: none;
    border-radius: 25px;
}
.bd-change-pd-textarea:focus {
    background: #1A1F25;
}
.bd-change-pd-btn {
    float: right;
}
.bd-change-p-title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.bd-change-p-input-old {
    background: #1A1F25;
    border-radius: 25px;
    border: none;
}
.bd-change-p-input-old:focus {
    background: #1A1F25;
    color: #EEEEEE;
}
.bd-change-p-input-new {
    background: #1A1F25;
    border-radius: 25px;
    border: none;
}
.bd-change-p-input-new:focus {
    background: #1A1F25;
    color: #EEEEEE;
}
.bd-change-p-btn {
    float: right;
    margin-bottom: 25px;
}
.bd-load-modal-dialog {
    width: 75px;
    height: 75px;
}
.bd-load-modal-content {
    background-color: #232931;
    border-radius: 100px;
}
.bd-load-modal-body {
    display: flex;
    justify-content: center;
}
.bd-load-container {
    margin-top: 50px;
}

/* ***************************************************************** FOOTER */

.bd-footer {
    background-color: #20262D;
    height: 7.5vh;
    display: flex;
    align-items: center;
}
.bd-footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.bd-footer-items {
    text-decoration: none;
    display: inline-block;
    margin-right: 50px;
}
.bd-footer-links {
    display: flex!important;
    align-items: center!important;
}
.bd-footer-icons {
    color: #EEEEEE;
    font-size: 40px!important;
}
.bd-footer-icons:hover {
    color: #4ECCA3;
}
.badge-notify {
    position: absolute;
    background-color: #4ECCA3;
    color: #20262D;
    margin-left: 30px;
}
.active {
    color: #4ECCA3;
}

/* ***************************************************************** UPLOAD MODAL */

.bd-modal-upload-content {
     background: #232931;
     border: none;
     border-radius: 15px;
     color: #EEEEEE;
}
.bd-modal-upload-footer {
    border: none;
}
.btn-primary {
    background: #4ECCA3;
    color: #232931;
    box-shadow: none;
    border: 2px solid #4ECCA3;
    font-weight: bold;
}
.btn-primary:hover {
    background: none;
    border: 2px solid #4ECCA3;
}
.btn-secondary {
    background: none;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}
.btn-secondary:hover {
    background: #cc574e;
    color: #EEEEEE;
    border: 2px solid #cc574e;
}
.bd-modal-upload-form-control {
    background-color: #1A1F25;
    border: none;
}
.bd-modal-upload-form-control:focus {
    background-color: #1A1F25;
    border: none;
    box-shadow: none;
    color: #EEEEEE;
}
.bd-modal-upload-form-control::placeholder {
    color: grey;
}
.custom-file-label {
    background: #1A1F25;
    border: none;
    box-shadow: none;
    color: grey;
}
.custom-file-input {
    background: #1A1F25;
    border: none;
    box-shadow: none;
    color: grey;
}
.modal-backdrop {
    z-index: 1020;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* ***************************************************************** IMAGE MODAL */

.bd-image-modal-content {
    background-color: #232931;
    border-radius: 25px;
}
.bd-image-container-main-picture {
    height: 500px;
    width: 500px;
    padding-right: 20px;
}
.bd-image-main-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.bd-image-modal-body-container {
    padding: 0;
}
.bd-image-profile-container-description {
    height: 75px;
    overflow: scroll;
    margin-top: 15px;
}
.bd-image-profile-picture {
    border-radius: 50px;
    border: 2px solid #4ECCA3;
    padding: 3px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.bd-image-profile-name {
    font-weight: bold;
    padding-left: 15px;
    font-size: 20px;
}
.bd-image-container-comments {
    margin-top: 10px;
    height: 250px;
    overflow: scroll;
}
.bd-image-comment-list {
    list-style: none;
    padding: 0;
}
.bd-image-comment-list-item {
    padding-bottom: 5px;
}
.bd-image-comment-user-name {
    font-weight: bold;
}
.bd-image-comment-time {
    display: flex;
    align-items: center;
    font-size: 12px!important;
}
.bd-image-comment-time-icon {
    font-size: 12px!important;
    padding-right: 10px;
}
.bd-image-container-actions {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.bd-image-action-like {
    display: flex;
    align-items: center;
}
.bd-image-action-comment {
    display: flex;
    align-items: center;
}
.bd-image-container-form {
    display: flex;
    align-items: center;
}
.bd-image-form {
    width: 200px;
}
.bd-image-form-textarea {
    background: #1A1F25;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding-top: 10px;
    padding-left: 15px;
    color: #EEEEEE;
}
.bd-image-form-textarea:focus {
    outline: none;
}
.bd-image-form-button {
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding-left: 20px;
    color: #EEEEEE;
}
.bd-image-form-button:hover {
    color: #4ECCA3;
}
.bd-image-comment-change-btn {
    float: right;
}
.bd-image-comment-delete-btn {
    float: right;
}
.bd-image-profile-change-btn-icon {
     font-size: 20px!important;
     color: #EEEEEE;
 }
.bd-image-profile-delete-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}
.bd-image-comment-change-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}
.bd-image-comment-delete-btn-icon {
    font-size: 20px!important;
    color: #EEEEEE;
}

/* ***************************************************************** MEDIA QUERIES */

@media only screen and (max-width: 420px) {
    /* ***************************************************************** HEADER */
    .bd-navbar {
        background-color: #1A1F25;
        height: 7.5vh;
    }
    .bd-navbar-title {
        color: #EEEEEE;
        font-style: italic;
        display: none;
        align-items: center;
    }
    .bd-navbar-title:hover {
        color: #4ECCA3;
    }
    .bd-navbar-title-icon {
        font-size: 25px !important;
        margin-right: 10px;
    }
    .bd-title-text1 {
        font-weight: bold;
        font-size: 20px;
    }
    .bd-title-text2 {
        font-size: 20px;
    }
    .bd-title-settings {
        color: #EEEEEE;
        font-weight: bold;
        font-size: 20px;
        margin-left: 0;
    }
    .btn-bd-upload {
        border: 2px solid #4ECCA3;
        color: #EEEEEE;
        margin-left: 0;
        font-weight: bold;
    }
    .btn-bd-upload:hover {
        background-color: #4ECCA3;
        color: #1A1F25;
    }
    .bd-navbar-usericon {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border: 2px solid #4ECCA3;
        border-radius: 100px;
        padding: 3px;
        margin-left: 100px;
    }
    .bd-settings-link {
        display: flex!important;
        align-items: center!important;
    }
    .bd-settings-icon {
        color: #EEEEEE;
        font-size: 30px!important;
    }
    .bd-settings-icon:hover {
        color: #4ECCA3;
    }
    .bd-logout-link {
        display: flex!important;
        align-items: center!important;
    }
    .bd-logout-icon {
        color: #EEEEEE;
        font-size: 30px!important;
    }
    .bd-logout-icon:hover {
        color: #4ECCA3;
    }
    .bd-logout-icon-settings {
        color: #EEEEEE;
        font-size: 30px!important;
        margin-left: 850px;
    }
    .bd-logout-icon-settings:hover {
        color: #4ECCA3;
    }

    /* ***************************************************************** MAIN */

    .bd-head {
        position: absolute;
        min-height: 85vh;
        width: 100vw;
        margin-top: 7.5vh;
        margin-bottom: 7.5vh;
        top: 0;
        background-color: #232931;
        color: #EEEEEE;
    }
    .bd-main-info {
        position: fixed;
        text-align: center;
        margin-top: 30px;
        transform: none;
        width: 100vw;
        height: 43vh;
        overflow: scroll;
    }
    .bd-main-info-usericon {
        border-radius: 500px;
        border: 2.5px solid #4ECCA3;
        padding: 5px;
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    .bd-main-info-username {
        text-decoration: none;
        color: #EEEEEE;
        font-weight: bold;
        font-size: 20px;
    }
    .bd-main-info-user {
        margin-bottom: 15px;
    }
    .bd-main-info-stats {
        margin-bottom: 15px;
    }
    .bd-main-info-follower {
        display: block;
    }
    .bd-main-info-followernumb {
        display: block;
    }
    .bd-main-info-descriptiontitle {
        font-weight: bold;
    }
    .bd-main-info-description {
        width: 400px;
    }
    .bd-main-info-followernumb {
        font-weight: bold;
    }
    .btn-bd-follow {
        border: 2px solid #4ECCA3;
        color: #EEEEEE;
        border-radius: 50px;
        height: 30px;
        text-align: center;
        margin-top: 15px;
        padding: 0 15px 0 15px;
        font-weight: bold;
    }
    .btn-bd-follow:hover {
        background: #4ECCA3;
        color: #232931;
    }
    .btn-bd-unfollow {
        border: 2px solid #4ECCA3;
        background: #4ECCA3;
        color: #232931;
        border-radius: 50px;
        height: 30px;
        text-align: center;
        margin-top: 15px;
        padding: 0 15px 0 15px;
        font-weight: bold;
    }
    .btn-bd-unfollow:hover {
        background: none;
        color: #EEEEEE;
    }
    .bd-main-content {
        position: absolute;
        top: 45vh;
        width: 100vw;
        height: 42vh;
        overflow: scroll;
        margin: 0;
    }
    .bd-media2 {
        padding: 0;
    }
    .bd-media3 {
        padding: 0;
        flex: 0 0 32vw;
        max-width: 32vw;
    }
    .bd-user-post {
        background: #20262D;
        width: 30vw;
        border-radius: 25px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .bd-user-post-img-container {
        height: 25vw;
        width: 25vw;
    }
    .bd-user-post-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .bd-user-post-img-overlay {
        position: absolute;
        width: 25vw;
        height: 25vw;
        border-radius: 15px;
        top: 10px;
        opacity: 0;
        transition: .3s ease;
        background: rgba(26,31,37,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bd-user-post-img-overlay:hover {
        opacity: 1;
    }
    .bd-user-post-favtext {
        margin-right: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 15px!important;
    }
    .bd-user-post-favicon {
        margin-right: 10px;
        font-size: 15px!important;
    }
    .bd-user-post-chattext {
        font-weight: bold;
        display: flex;
        align-items: center;
        font-size: 15px!important;
    }
    .bd-user-post-chaticon {
        margin-right: 10px;
        font-size: 15px!important;
    }

    .bd-media {
        flex: 0 0 100%;
        min-width: 100%;
    }
    .post-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .post {
        background: #20262D;
        width: 370px;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        margin-bottom: 2px;
    }
    .bd-post-title {
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .bd-post-pp {
        height: 30px;
        width: 30px;
        object-fit: cover;
        border-radius: 50px;
        border: 2px solid #4ECCA3;
        padding: 3px;
        margin-right: 10px;
    }
    .bd-post-name {
        font-weight: bold;
        font-size: 15px;
    }
    .bd-post-img-container {
        padding-bottom: 10px;
        height: 330px;
        width: 340px;
    }
    .bd-post-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .bd-post-stats {
        display: flex;
        align-items: center;
    }
    .bd-post-favtext {
        margin-right: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .bd-post-favicon {
        margin-right: 5px;
    }
    .bd-post-chattext {
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .bd-post-chaticon {
        margin-right: 5px;
    }
    .bd-searchcard {
        padding: 10px;
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
        border-radius: 15px;
        background: #20262D;
        border: none;
    }
    .bd-searchpost {
        border-radius: 10px;
        object-fit: cover;
        width: 350px;
        height: 350px;
    }
    .bd-search {
        margin-top: 15px;
        margin-bottom: 35px;
    }
    .bd-searchbar {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .bd-searchicon {
        display: flex;
        align-items: center;
        position: absolute;
        left: 8%;
        padding-left: 15px;
        pointer-events: none;
        transition: all 0.4s;
    }
    .bd-searchform {
        line-height: 1.5;
        display: block;
        width: 85%;
        background: #1A1F25;
        border: 0;
        border-radius: 50px;
        color: #EEEEEE;
        height: 40px;
        padding: 0 20px 0 50px;
    }
    .bd-searchform:focus + .bd-searchicon {
        color: #4ECCA3;
    }
    .bd-searchform:focus {
        outline: none;
    }
    .bd-change-pp-title {
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    .bd-old-pp-container {
        width:200px;
        text-align:center;
        display:block;
        float:left;
        margin-right: 50px;
    }
    .bd-change-pp-old-img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 2px solid #4ECCA3;
        padding: 10px;
        object-fit: cover;
        margin-top: 15px;
    }
    .bd-new-pp-container {
        width:200px;
        text-align:center;
        display:block;
        float:left;
    }
    .bd-change-pp-new-img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 2px solid #4ECCA3;
        padding: 10px;
        object-fit: cover;
        margin-top: 15px;
    }
    .bd-change-pp-modal-content {
        background: #20262D;
        border-radius: 25px;
    }
    .bd-change-pp-modal-header {
        border: none;
    }
    .bd-change-pp-modal-title {
        font-size: 20px;
        font-weight: bold;
    }
    .bd-change-pp-modal-footer {
        border: none;
    }
    .bd-change-pd-title {
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    .bd-change-pd-textarea {
        background: #1A1F25;
        border: none;
        border-radius: 25px;
    }
    .bd-change-pd-textarea:focus {
        background: #1A1F25;
    }
    .bd-change-pd-btn {
        float: right;
    }
    .bd-change-p-title {
        font-size: 25px;
        font-weight: bold;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    .bd-change-p-input-old {
        background: #1A1F25;
        border-radius: 25px;
        border: none;
    }
    .bd-change-p-input-old:focus {
        background: #1A1F25;
        color: #EEEEEE;
    }
    .bd-change-p-input-new {
        background: #1A1F25;
        border-radius: 25px;
        border: none;
    }
    .bd-change-p-input-new:focus {
        background: #1A1F25;
        color: #EEEEEE;
    }
    .bd-change-p-btn {
        float: right;
        margin-bottom: 25px;
    }
    .bd-load-modal-dialog {
        width: 75px;
        height: 75px;
        transform: translateX(210%)!important;
    }
    .bd-load-modal-content {
        background-color: #232931;
        border-radius: 100px;
    }
    .bd-load-modal-body {
        display: flex;
        justify-content: center;
    }
    .bd-load-container {
        margin-top: 50px;
    }

    /* ***************************************************************** FOOTER */

    .bd-footer {
        background-color: #20262D;
        height: 7.5vh;
    }
    .bd-footer-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .bd-footer-items {
        text-decoration: none;
        display: inline-block;
        padding: 30px;
        margin-right: 0;
    }
    .bd-footer-links {
        display: flex!important;
        align-items: center!important;
    }
    .bd-footer-icons {
        color: #EEEEEE;
        font-size: 40px!important;
    }
    .bd-footer-icons:hover {
        color: #4ECCA3;
    }
    .badge-notify {
        position: absolute;
        background-color: #4ECCA3;
        color: #20262D;
        margin-left: 30px;
    }
    .active {
        color: #4ECCA3;
    }

    /* ***************************************************************** UPLOAD MODAL */

    .bd-modal-upload-content {
        background: #232931;
        border: none;
        border-radius: 15px;
        color: #EEEEEE;
    }
    .bd-modal-upload-footer {
        border: none;
    }
    .btn-primary {
        background: #4ECCA3;
        color: #232931;
        box-shadow: none;
        border: 2px solid #4ECCA3;
        font-weight: bold;
    }
    .btn-primary:hover {
        background: none;
        border: 2px solid #4ECCA3;
    }
    .btn-secondary {
        background: none;
        color: #EEEEEE;
        border: 2px solid #cc574e;
    }
    .btn-secondary:hover {
        background: #cc574e;
        color: #EEEEEE;
        border: 2px solid #cc574e;
    }
    .bd-modal-upload-form-control {
        background-color: #1A1F25;
        border: none;
    }
    .bd-modal-upload-form-control:focus {
        background-color: #1A1F25;
        border: none;
        box-shadow: none;
        color: #EEEEEE;
    }
    .bd-modal-upload-form-control::placeholder {
        color: grey;
    }
    .custom-file-label {
        background: #1A1F25;
        border: none;
        box-shadow: none;
        color: grey;
    }
    .custom-file-input {
        background: #1A1F25;
        border: none;
        box-shadow: none;
        color: grey;
    }
    .modal-backdrop {
        z-index: 1020;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }

    /* ***************************************************************** IMAGE MODAL */

    .bd-image-modal-content {
        background-color: #232931;
        border-radius: 25px;
    }
    .bd-image-container-main-picture {
        height: 380px;
        width: 380px;
        padding-right: 20px;
    }
    .bd-image-main-picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .bd-image-modal-body-container {
        padding: 0;
    }
    .bd-image-header {
        margin-top: 15px;
    }
    .bd-image-profile-container-description {
        height: 50px;
        overflow: scroll;
        margin-top: 15px;
    }
    .bd-image-profile-description {
        font-size: 15px;
    }
    .bd-image-profile-picture {
        border-radius: 50px;
        border: 2px solid #4ECCA3;
        padding: 2px;
        height: 35px;
        width: 35px;
        object-fit: cover;
    }
    .bd-image-profile-name {
        font-weight: bold;
        padding-left: 15px;
        font-size: 15px;
    }
    .bd-image-container-comments {
        margin-top: 10px;
        height: 100px;
        overflow: scroll;
    }
    .bd-image-comment-list {
        list-style: none;
        padding: 0;
    }
    .bd-image-comment-list-item {
        padding-bottom: 5px;
    }
    .bd-image-comment-user-name {
        font-size: 12px!important;
        font-weight: bold;
    }
    .bd-image-comment-user-comment {
        font-size: 12px!important;
    }
    .bd-image-comment-time {
        display: flex;
        align-items: center;
        font-size: 12px!important;
    }
    .bd-image-comment-time-icon {
        font-size: 12px!important;
        padding-right: 10px;
    }
    .bd-image-container-actions {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }
    .bd-image-action-like {
        display: flex;
        align-items: center;
    }
    .bd-image-action-comment {
        display: flex;
        align-items: center;
    }
    .bd-image-container-form {
        display: flex;
        align-items: center;
    }
    .bd-image-form {
        width: 400px;
    }
    .bd-image-form-textarea {
        background: #1A1F25;
        width: 300px;
        height: 30px;
        border-radius: 25px;
        border: none;
        padding-top: 3px;
        padding-left: 15px;
        color: #EEEEEE;
    }
    .bd-image-form-textarea:focus {
        outline: none;
    }
    .bd-image-form-button {
        display: flex;
        background: none;
        border: none;
        margin: 0;
        padding-left: 20px;
        padding-bottom: 7px;
        color: #EEEEEE;
    }
    .bd-image-form-button:hover {
        color: #4ECCA3;
    }
    .bd-image-comment-change-btn {
        float: right;
    }
    .bd-image-comment-delete-btn {
        float: right;
    }
    .bd-image-profile-change-btn-icon {
        font-size: 20px!important;
        color: #EEEEEE;
    }
    .bd-image-profile-delete-btn-icon {
        font-size: 20px!important;
        color: #EEEEEE;
    }
    .bd-image-comment-change-btn-icon {
        font-size: 20px!important;
        color: #EEEEEE;
    }
    .bd-image-comment-delete-btn-icon {
        font-size: 20px!important;
        color: #EEEEEE;
    }

}