#snackbarSuccess {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: MediumSeaGreen;
    color:  #FFFFFF;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 150px;
    font-size: 17px;

}

#snackbarSuccess.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#snackbarFail {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: Tomato;
    color:  #FFFFFF;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 150px;
    font-size: 17px;

}

#snackbarFail.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}